{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-5 d-flex flex-column align-items-center text-center">
            <h4 class="mb-4 text-primary">
                {% if passo == 1 %}
                    Posicione o Rosto Desta Forma
                {% elif passo == 2 %}
                    Posicione o rosto novamente conforme demonstrado ao lado.
                {% elif passo == 3 %}
                    Última posição. Centralize e tire as fotos finais!
                {% else %}
                    Posicione o Rosto Desta Forma
                {% endif %}
            </h4>
            <div class="card bg-light p-3 border-0 shadow-sm rounded-4">
                <img class="img-fluid rounded-4" src="{% static instrucao_imagem %}" alt="Exemplo de Posição Correta" width="500">
            </div>
        </div>

        <div class="col-12 col-lg-7 mt-5 mt-lg-0">
            {% if not extracao_ok %}
            <div class="card p-3 bg-primary bg-opacity-10 border border-primary rounded mb-3 text-center">
                Centralize seu rosto dentro dos limites em verde e depois clique em tirar fotos!
            </div>

            <div class="text-center mb-3">
                <img class="border rounded-5 img-fluid" id="webcam" src="{% url 'face_detection' %}" style="max-width: 100%; height: auto;">
            </div>

            <form class="mt-3 text-center" method="GET" action="{% url 'criar_coleta_faces' funcionario.id %}">
                <input type="hidden" name="passo" value="{{ passo }}">
                <button class="btn btn-lg btn-primary" type="submit" onclick="document.getElementById('clicked').value='True';">
                    Tirar Fotos
                </button>
                <input type="hidden" id="clicked" name="clicked" value="False">
            </form>

            {% else %}
            <div class="card p-3 bg-success bg-opacity-10 border border-success rounded mb-3 text-center">
                Fotos tiradas e salvas no banco de dados com sucesso!
            </div>
            {% comment %}
            <div class="d-flex flex-wrap justify-content-center gap-2">
                {% for file_path in file_paths %}
                <div class="col-4 col-sm-3 col-md-2 mb-3">
                    <img src="{{ file_path.image.url }}" alt="Face sample" class="img-fluid rounded-4">
                    <div class="text-center mt-2">
                        <h6 class="card-title">Face {{ forloop.counter }}</h6>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endcomment %}
            <div class="text-center mt-4">
                {% if passo < 3 %}
                    <a href="{% url 'criar_coleta_faces' funcionario.id %}?extracao_ok=False&passo={{ passo|add:1 }}" class="btn btn-lg btn-success">
                        CONTINUAR
                    </a>
                {% else %}
                    <a href="{% url 'criar_funcionario' %}" class="btn btn-lg btn-success">
                        FINALIZAR
                    </a>
                {% endif %}
            </div>

            {% endif %}

            {% if erro %}
            <h3 class="text-center text-danger mt-4">{{ erro }}</h3>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}